.title{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-alignment:center;
    -fx-text-fill: #1C0F13;
    -fx-font-size: 48;
}

.titleButtons{
    -fx-font-size: 24;
    -fx-background-color: #5C6784;
    -fx-border-color: #000000;
    -fx-text-fill: #1C0F13;
    -fx-min-width: 100px;
    -fx-min-height: 50px;
    -fx-padding: 0px 0px;
}

.titleButtons:hover {
    -fx-font-size: 26;
}

.background{
    -fx-background-color: #B7CECE;
}

.moneybox{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-alignment: top-left;
    -fx-text-fill: #1C0F13;
    -fx-font-size: 24;
}